/* menu.css */

/* Genel side menu ayarları */
.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.side-menu.open {
  width: 250px;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-menu ul li {
  padding: 12px 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.side-menu ul li:hover {
  background-color: #575757;
}

/* Kapatma butonu */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

/* Hamburger butonu */
.open-btn {
  font-size: 20px;
  cursor: pointer;
  color: black;
  padding: 10px 15px;
  display: none; /* Başlangıçta mobilde göstereceğiz */
}

/* PC için sabit side menu */
@media screen and (min-width: 1024px) {
  .side-menu {
    width: 250px;
    padding-top: 20px;
  }
  #hamburger-btn {
    display: none; /* PC’de hamburger gizle */
  }
  #close-btn {
    display: none; /* PC’de X tuşunu gizle */
  }
  body {
    margin-left: 250px; /* Menü boşluğu bırak */
  }
}

/* Mobil için responsive */
@media screen and (max-width: 1023px) {
  .open-btn {
    display: inline-block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
  }
}